

.gallery .gallery-item{
    border-radius: 20px;
   
    width: 100%;
    float: right;
    height: 300px;
    padding: 10px;
    background-color: #fff7f7;
    box-shadow: 0 0 20px rgba(155, 162, 163, 0.959);
 
}
.gallery {
    /* padding: 0 0 100px 0; */
    /* background-image:  linear-gradient(to right, rgba(45, 200, 218, 0.726), rgba(11, 75, 194, 0.65)); */
    margin-top: -30px;
    /* border-radius: 60px ; */
    
}

.gallery-item:hover{
    transform: scale(0.9);
    filter: blur(2px);
    transition-duration: .9s;
    
}

.title-header{
    
   padding: 70px 0 0 0;
}


.navbar-gallery .nav-item{
    font-size: 1rem;
 
}





#gallery-modal .modal-img{
    width: 100%;

}



