.hero {
    display: flex;
}

.hero-left{
    width: 40%;
    padding: 180px 80px 90px 100px;
}

.title-hero{
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
    font-size: 3rem;
}

.title-content {
    font-size: 1rem;
}


.hero-right {
    width: 60%;
    background-image: url(./img/building.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -200px;
    border-radius: 0 0 0 60px;
    z-index: -99;
}

/* section services */
.services{
    margin-top: -70px;
    padding: 0 300px;
    position: absolute;
    z-index: 99;
}

.services .container {
    border-radius: 40px;
    padding: 40px;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    text-align: center;
    /* width: 80%; */
}

.title-services-name {
    font-size: 42px;
}

.title-services-content {
    font-family: 'Merriweather', serif;
}

/* end section services */

/* feature-properties */
.featured-properties{
    margin-top: 90px;
    padding: 300px 30px 10px 30px;
    background-image:  linear-gradient(to right, rgba(11, 75, 194, 0.65), rgba(45, 200, 218, 0.726));
    border-radius: 60px;
}

.featured-properties .container{
    border-radius: 30px;
    /* background-color: #ffffff; */
}

.featured-properties-caption{
    align-items: center;
    padding: 30px 80px;
    margin-top: 10px;
   
}

.featured-number {
    font-size: 42px;
}

.featured-caption {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    line-height: 30px;
}

.featured-properties h1{
    text-align: center;
    margin-top: 100px;
}


.container .card {
    text-align: center;
}

.product-card {
    transition-duration: .5s;
    cursor: pointer;
}

.product-card:hover {
    transform: scale(0.9);
}

.product-card:hover .card-body{
    transition-duration: .5s;
    /* background-color: var(--bs-gray-600);
    color: var(--bs-white); */
    border-radius: 0 0 20px 20px;
}

.card{
    border-radius:20px;
    /* height: 20rem; */
    border: none;
    /* background-image:  linear-gradient(to right, rgba(243, 243, 239, 0.918), rgba(126, 34, 218, 0.726)); */
}

.card-img-top {
    border-radius: 20px 20px 0px 0px;
    height: 15rem;
    
}
 
.card-text {
    font-size: 0.8rem;
}

/*end feature-properties */

/* section property */

.property {
    margin-top: 90px;
    /* background-color:  #194dfa77; */
    background-image:  linear-gradient(to right, rgba(11, 75, 194, 0.65), rgba(45, 200, 218, 0.726));
    padding: 80px 30px;
    border-radius: 40px;
    text-align: center;
}

.card-property {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 40px;
    transition-duration: .5s;
}

.icon-property {
    font-size: 5rem;
}

.card-property:hover {
    background-color: var(--bs-warning);
    color: var(--bs-white);
}

/* section motto */ 
.motto{
    padding: 0 250px;
}

.motto-caption {
    text-align: center;
}
/* endsection motto */

/* section client */
.client-background{
    /* background-color:  #194dfa77; */
    background-image:  linear-gradient(to right, rgba(11, 75, 194, 0.65), rgba(45, 200, 218, 0.726));
    width: 60vw;
    height: 500px;
    border-radius: 30px;
}
.card-client {
    text-align: center;
    margin-top: -390px;
    padding: 40px 40px;
    background: #ffffff;
    border: 1px solid var(--bs-gray-300);
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px 40px 40px 90px;
    
}

.card-client i {
    color: var(--bs-warning);
}

.client-name {
    margin-top: 20px;
}

/* end section client */

@media only screen and (max-width:500) {

    
}



