/* section services */
.product-list{
    margin-top: -70px;
    padding: 0 360px;
    position: absolute;
    z-index: 99;
}

.product-list .container {
    border-radius: 40px;
    padding: 40px;
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    text-align: center;
    
}

.title-services-content {
    font-family: 'Merriweather', serif;
}

/* end section services */

/* daftar-product-list */
.daftar-product-list{
  margin: 250px 50px 50px 50px;
 /* background-color: aqua; */

}

.content-daftar-product-left{
    /* background-color: rgb(214, 127, 127); */
    /* border-radius: 20px; */
    /* width: 500px;
    height: 400px; */
    padding: 10px 40px;
    margin-bottom: 90px;
    float: left;
    /* box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25); */
}

.list-daftar-product{
    padding: 20px 0 50px 0;
    line-height: 20px;
   
}

.content-daftar-product-right{
    display: flex;
    float: right;
    position: absolute;
    margin: 0 750px;
  

}
.img-product-list, .img-product-list-one{
    width: 450px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    
    
    
}


/* end daftar-product-list */